Obtaining Access Token exposes too much sensitive info

Hi,

I'm wondering if the [blog post](http://www.inanzzz.com/index.php/post/qu4n/creating-a-symfony-oauth2-api-or-server-that-uses-password-grant-type) I'm following is implementing the `password` grant type wrong or I am too cautious, I don't know!

Obtaining Access Token is made with request below which works fine.
`
GET /oauth/v2/token?client_id=1_1pp47h1z902s8wwcgo0s08gccwo0gk044s40sowcosw0wgw8w8&client_secret=6zqjjy3l32ck8ok4s8gcgwc88s4c4wws4koc0o0kwsk48w0g0&grant_type=password&username=hello&password=world
`

As you can see above `client_id`, `client_secret`, `username` and `password` exposed. You must provide all to make it work. Is this normal?

Thanks

The client authentication (`client_id` and `client_secret`) is mandatory (see [RFC6749 section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1)).
For the Resource Owner Password Credentials grant type, the `username` and `password` parameters are also mandatory (see [RFC6749 section 4.3.1](https://tools.ietf.org/html/rfc6749#section-4.3.1)).

What is not normal is that:

* The request MUST be a POST request and not a GET one
* The `username` and `password` parameters MUST be part of the body using the `application/x-www-form-urlencoded` encoding.

The client authentication SHOULD be set in the header (best) or in the body (**non recommended**, limited to clients unable to use the header).
The credentials in the query string is a very bad idea as query string may be captured by e.g. proxies.

@Spomky Thanks for the great explanation. All the examples (those I've seen so far) using FOSOAuthServerBundle are same so they all obtain access token in same way which is unsecure/bad as you pointed out as well. I wonder what FOSOAuthServerBundle guys have got to say!?

FOSOAuthServerBundle guys - Is it possible to do what @Spomky says above. I've tried myself but it didn't work.

I made it work but without `application/x-www-form-urlencoded` content-type. Having `username` and `password` as `form-data` works but still not perfect.

OK. I managed to get it working as you described so closing.