Add support for public clients

Not having public clients makes the bundle almost unusable for JavaScript or desktop based apps.


I'm working on a proxy as suggested above to solve the issue, but I'm having a little trouble forwarding to the TokenController: if by any chance, you could have a look at [this related StackOverflow question](http://stackoverflow.com/questions/28463274/using-forward-with-fosoauthserverbundle-tokencontroller), it would be really nice! Thanks!

> Regarding this issue, the implementation of public clients is not easy ;

According to [RFC6749 (section 2.3.1)](https://tools.ietf.org/html/rfc6749#section-2.3.1), the `client_secret`, when omitted, should be considered an empty string:
```
client_secret
         REQUIRED.  The client secret.  The client MAY omit the
         parameter if the client secret is an empty string.
```

I guess it could be fixed in library [oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php) where [`getClientCredentials`](https://github.com/FriendsOfSymfony/oauth2-php/blob/1.2.3/lib/OAuth2.php#L1060) should fall back to an empty string instead of `null`.

This would allow omitting the `client_secret` (without having to set the `secret` property nullable as suggested in https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/issues/282), which looks like the proper way to support public clients. Or am I missing something?

> the library [oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php) is not designed to support multiple client types/sources.

As for supporting multiple client types/sources, there is a paragraph in [RFC6749 (section 2.1)](https://tools.ietf.org/html/rfc6749#section-2.1) which states:
```
   A client may be implemented as a distributed set of components, each
   with a different client type and security context (e.g., a
   distributed client with both a confidential server-based component
   and a public browser-based component).  If the authorization server
   does not provide support for such clients or does not provide
   guidance with regard to their registration, the client SHOULD
   register each component as a separate client.
```
so I feel like the way [oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php) is designed would only require to create separate clients for public and confidential types. What do you think?